<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Centiment</title>
	<link rel="shortcut icon" href="../Centiment/favicon.ico">
	<link rel="icon" type="image/gif" href="../Centiment/animated_favicon1.gif">

	<link rel="stylesheet" href="../Centiment/webfont/stylesheet.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../Centiment/grid.css">
    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="auth.js"></script>
</head>

<body>
	<div class="col span_2_of_2" id="container">
		<img src="../Centiment/img/logo.png" id="center" />
	</div>
	<div class="col span_2_of_2" id="buttons">
		<div id="logIn" class="button">Log in</div>
		<div id="signUp" class="button">Sign up</div>
	</div>
	
</body>

</html>